/*instanciar na head*/
.input {
    padding: 1.25rem 1rem;
    border: 1px solid rgba(0, 8, 36, 0.16);
    border-radius: 10px;
}

.input::placeholder {
    color: #c4c8d0;
    font-size: 1rem;
}

.button {
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 24px;
    width: 100%;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
}

.button--primary {
    background-color: #4ea802;
    color: #fff;
    box-shadow: black .14rem .2rem;
}
.button--primary:hover {
    background-color: #1d7a21;;
}
.button--primary:active {
    transform: translateY(.125rem);
    box-shadow: none;
}
  
.form {

}

.form__submit {
    margin-top: 1.5rem;
}



.title {
    margin-bottom: 32px;
    line-height: 44px;
    color:rgba(0, 8, 38, 0.8);
}